.photosgallery-std{width:170px;height:115px;}

/* Navbar */
.photosgallery-std .sliderkit-nav{left:0;top:0;width:165px;float:left;height:70px;margin-left:-5px;}
.photosgallery-std .sliderkit-nav-clip ul li{height:52px;width:62px;float:left;}
.photosgallery-std .sliderkit-nav-clip ul li a{height:52px;float:left;width:62px;text-align:center;}
.photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected a{height:52px;float:left;width:62px;text-align:center;}

/* Buttons */
.photosgallery-std .sliderkit-btn{position:absolute;top:0;}
.photosgallery-std .sliderkit-btn span{display:none;}
.photosgallery-std .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}
.photosgallery-std .sliderkit-btn-disable a:hover{cursor:default;}

/* Navbar buttons */
.photosgallery-std .sliderkit-nav .sliderkit-btn a{display:block;width:36px;height:53px;}
.photosgallery-std .sliderkit-nav .sliderkit-nav-prev{left:0;top:60px;}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next{right:0;top:60px;}
.photosgallery-std .sliderkit-nav .sliderkit-nav-prev a{background:url("../images/events/left.png");}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a{background:url("../images/events/right.png");}
.photosgallery-std .sliderkit-nav .sliderkit-nav-prev a:hover,
.photosgallery-std .sliderkit-nav .sliderkit-nav-prev a:focus{}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a:hover,
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a:focus{}
 
/* Panels buttons */
.photosgallery-std .sliderkit-go-btn{position:absolute;top:450px;z-index:10;width:32px;height:97px;}
.photosgallery-std .sliderkit-go-prev{left:20px;}
.photosgallery-std .sliderkit-go-next{right:20px;}
.photosgallery-std .sliderkit-go-btn a{display:block;width:32px;height:97px;opacity:0.6;cursor:pointer;}
.photosgallery-std .sliderkit-go-prev a{background:url("../images/events/prev.png");}
.photosgallery-std .sliderkit-go-next a{background:url("../images/events/next.png");}
.photosgallery-std .sliderkit-btn-disable a{opacity:0/*can be set to any value until 1*/;cursor:default;}
.photosgallery-std .sliderkit-go-btn span{display:none;}

/* Panel */
.photosgallery-std .sliderkit-panel{top:58px;left:0;width:168px;height:45px;text-align:center;}
.photosgallery-std .sliderkit-panels{width:168px;height:45px;overflow:hidden;padding:10px 0;float:left;}
.photosgallery-std .sliderkit-panel{float:left;width:168px;height:40px;overflow:auto;padding:0;background:#ececec;color:#454545;font-family:'Rambla', sans-serif;font-size:12px;font-weight:300;line-height:14px;text-align:center;font-style:normal;}
.photosgallery-std .sliderkit-panel small{width:11px;float:left;padding:1px 5px 0 0;}
.photosgallery-std .sliderkit-panel strong{width:138px;float:left;color:#454545;font-family:'Rambla', sans-serif;font-size:12px;font-weight:300;line-height:14px;text-align:center;font-style:normal;}
.photosgallery-std .sliderkit-panel big{width:11px;float:left;padding:1px 0 0 3px;}
/*Sliderkit*/
.sliderkit{display:none;position:relative;overflow:hidden;text-align:left;}
.sliderkit a,
.sliderkit a:hover{text-decoration:none;}
.sliderkit a:focus{outline:1px dotted #000;/*optional*/}
.sliderkit img{border:0;}
.sliderkit .sliderkit-nav{z-index:10;position:absolute;text-align:center;}
.sliderkit .sliderkit-nav-clip{position:relative;overflow:hidden;margin:0 auto;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li{float:left;}
.sliderkit .sliderkit-nav-clip ul li a{display:block;overflow:hidden;}
.sliderkit .sliderkit-btn{z-index:10;}
.sliderkit .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}
.sliderkit .sliderkit-panel .sliderkit-panel-textbox{position:absolute;z-index:1;}
.sliderkit .sliderkit-panel .sliderkit-panel-text{position:absolute;z-index:3;top:0;left:0;}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay{position:absolute;z-index:2;top:0;left:0;}
.sliderkit .sliderkit-count{position:absolute;top:5px;right:5px;z-index:10;padding:5px;color:#fff;background:#000;}
.sliderkit .sliderkit-timer{position:absolute;top:0;left:0;z-index:10;height:3px;background:#ccc;}