.haptik_header{
    background-color: #0285BB;
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 32px;
    font-family: Times, serif;
}
