.table-caption{
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn-padding{
    padding-left: 30px;
}

.form-padding{
    padding-top: 30px;
}


/* changing a few arrow properties */
.arrow, [class^="arrow-"]{
    float: left;
    height: 40px !important;
}


